RewriteEngine On

# Permitir acesso direto à pasta public
RewriteCond %{REQUEST_URI} ^/public/ [NC]
RewriteRule ^ - [L]

# Se não for arquivo ou diretório existente, redireciona para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
